body {
  font-family: sans-serif;
  margin: 20px;
}

.grid,
.focus {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.sketch-container {
  /* border: 1px solid #ccc; */
  padding: 10px;
  width: 300px;
  height: 300px;
  display: block;
}

.sketch-container2 {
  /* border: 1px solid #ccc; */
  padding: 10px;
  width: 600px;
  height: 300px;
  display: block;
}

.grid-item {
  width: 100%;
  height: 800px;
}
