<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>seasons_city</title>
  <link rel="stylesheet" href="../style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.6.0/p5.min.js"></script>
</head>

<body>
  <h1></h1>
  <div class="focus">
    <!-- <div class="sketch-container2" id="seasons_sif"></div> -->
    <div class="sketch-container2" id="seasons_la"></div>
    <!-- <div class="sketch-container" id="SIFCO2slider"></div> -->
  </div>

  <!-- <script src="../sketches/seasons_sif.js"></script> -->
  <script src="../sketches/seasons_la.js"></script>
  <!-- <script src="../sketches/SIFCO2slider.js"></script> -->
</body>

</html>
